<div class="single-form-container">
  <%= form_for @user do |f| %>
      <div class="boxed-group">
        <h3>注册</h3>

        <div class="boxed-group-inner">
          <% if @user.errors.any? %>
              <div class="form_errorred">
                填写的信息有误
              </div>
          <% end %>
          <dl class="form">
            <dt><%= f.label :name %></dt>
            <dd><%= f.text_field :name %></dd>
            <% if @user.errors[:name].any? %>
                <dd class="error"><%= @user.errors[:name][0] %></dd>
            <% end %>
          </dl>

          <dl class="form">
            <dt><%= f.label :password %></dt>
            <dd><%= f.password_field :password %></dd>
            <% if @user.errors[:password].any? %>
                <dd class="error"><%= @user.errors[:password] %></dd>
            <% end %>
          </dl>
          <dl class="form">
            <dt><%= f.label :password_confirmation %></dt>
            <dd><%= f.password_field :password_confirmation %></dd>
            <% if @user.errors[:password_confirmation].any? %>
                <dd class="error"><%= @user.errors[:password_confirmation] %></dd>
            <% end %>
          </dl>


          <dl class="form">
            <dt><%= f.label :forget_issues %></dt>
            <dd><%= f.text_field :forget_issues %></dd>
            <% if @user.errors[:forget_issues].any? %>
                <dd class="error"><%= @user.errors[:forget_issues][0] %></dd>
            <% end %>
          </dl>
          <dl class="form">
            <dt><%= f.label :forget_answer %></dt>
            <dd><%= f.text_field :forget_answer %></dd>
            <% if @user.errors[:forget_answer].any? %>
                <dd class="error"><%= @user.errors[:forget_answer][0] %></dd>
            <% end %>
          </dl>
          <p><%= f.submit "注 册", :class => "button primary" %></p>
        </div>
      </div>
  <% end %>
</div>